{% extends "portfolio/layout.html" %}

{% load static %}

{% block body %}
<head>
    <link href="{% static 'portfolio/css/contact_private.css' %}" rel="stylesheet">
</head>
<body>
    <div id="loading">
    </div>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="{% url 'portfolio:index' %}">Portfo<span>lio.</span></a></div>
            <!-- <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#skills" class="menu-btn">Skills</a></li>
                <li><a href="#experience" class="menu-btn">Experience</a></li>
                <li><a href="#services" class="menu-btn">Proficiency</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul> -->
            <!-- <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div> -->
        </div>
    </nav>

    <div class="max-width" style="padding-top: 100px;">
        <a href="mailto:vikramkumar8655@proton.me" class="email-button">Proton Mail</a>
        <h2>Send me Encrypted Message</h2>
        <!-- <pre class="pgp-key">
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="HORIZONTAL" data-vanity="vikram-kumar1" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/vikram-kumar1?trk=profile-badge">VIKRAM KUMAR</a></div>
        </pre> -->
        <a href="{% static 'portfolio/file/(0xE4A6814B0CEEC6CF)-public.asc' %}" download class="download-button">Download my PGP Public Key</a>
    </div>
    
    <!-- <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script> -->
    <script src="{% static 'portfolio/js/script.js' %}"></script>
</body>
{% endblock %}